DB_HOST=localhost
DB_PORT=5432
DB_NAME=sandbox_dev
DB_USER=postgres
DB_PASSWORD=postgres

CLICKHOUSE_HOST=localhost
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_TCP_PORT=9000
CLICKHOUSE_DB=sandbox_dev
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse
